@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; 
   /* background-color: #141A28; */
    background-color: #fff;
    color: brown;
    position: sticky;
    top: 0;
    width: 95%;
    gap: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.navLinks {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navLinks a {
   /* color: #ffffff; */
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.navLinks a:hover {
    color: #1a73e8;
}

button {
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1558b0;
}